.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 0;
  left: 100px;
  opacity: 0.75;
  bottom: 80px;
  background-color: black;
}
.separator {
  font-size: 44px;
  line-height : 44px;
  align-self:flex-start;
}
